# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/

# Application Specific (Ignore downloaded files and test files)
downloaded_*
test.txt
*.pcap
*.cap
